
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 90%;
  max-width: 700px;
  padding: 24px;
  border-radius: 16px;
}

.modal iframe {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  margin-top: 15px;
}
